.container-cart{
	font-family: 'Quicksand', sans-serif;
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
	width: 100%;
	min-height: 60vh;
  gap: 5px;
  margin: 50px auto;
	padding: 10px 0;
}

.hidden-new{
	display: none;
}

ul{
    list-style: none;
}
a{
	text-decoration: none;
}
div.wrapper-cart {
	min-height: auto;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

div.wrapper-cart div.navigation{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	align-items: center;
	padding: 8px 0;
}

div.wrapper-cart div.navigation a {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: -.5px;
}

div.wrapper-cart div.navigation i {
	font-size: 16px;
	color: #9FA6B0;
}

.wrapper-cart > .core-cart{
	width: 100%;
	padding: 0 10px;
}

.core-cart > .product-cart{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;
	width: 100%;
}

.core-cart > .product-cart > .item-main{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: max-content;
	background-color: #fff;
	box-shadow: 0 0 5px #d1d1d1;
	border-radius: 5px;
	gap: 15px;
	padding: 10px;
}

.core-cart > .product-cart > .item-main img{
	width: 100px;
	height: 100px;
	object-fit: fill;
	color: transparent;
	align-items: center;
	background-color: #cecece;
}

.core-cart > .product-cart > .item-main div{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 5px;
	width: 100%;
}

.core-cart > .product-cart > .item-main div > .nama-barang{
	font-size: 10px;
	color: #222;
	height: 37px;
	overflow: hidden;
	width: 100%;
}

.core-cart > .product-cart > .item-main div > .text-muted{
	font-size: 14px;
	font-weight: 500;
}

.core-cart > .product-cart > .item-main div > .price{
	font-size: 20px;
	font-weight: 700;
	color: #000000;
}

.core-cart > .product-cart > .item-main div > .aksi{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;
	height: max-content;
	margin-top: 5px;
	padding-right: 10px;
}

.core-cart > .product-cart > .item-main div > .aksi small a{
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -.3px;
	padding: 5px;
	color: #E88D2F;
	text-decoration: underline;
	border-radius: 5px;
	transition: 0.2s;
}

.core-cart > .product-cart > .item-main div > .aksi small a:hover{
	background: #E88D2F;
	color: #fff;
	text-decoration: none;
}

.core-cart > .product-cart > .item-main div > .aksi > .delete-item{
	background-color: #D9534F;
	color: #fff;
	font-size: 14px;
	padding: 5px 8px;
	border-radius: 50%;
	position: relative;
	transition: 0.3s;
}
.core-cart > .product-cart > .item-main div > .aksi > .delete-item:hover{
	background-color: #fff;
	color: #D9534F;
}
.core-cart > .product-cart > .alert-warning{
	position: relative;
	top: 20px;
	left: 10px;
	width: 90%;
	text-align: center;
	background-color: #D9534F;
	color: #fff;
	padding: 10px;
	font-weight: 700;
	border-radius: 10px;
}

.core-cart > .product-cart > .deleteall {
	width: max-content;
}

.core-cart > .product-cart > .deleteall > button{
	width: 125px;
	text-align: center;
	padding: 10px 1px;
	color: #D9534F;
	background: transparent;
	font-family: 'Quicksand', sans-serif;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
}
/*.core-cart > .product-cart > .deleteall > button:hover{
	box-shadow: -2px 2px 3px #d1d1d1;
	background-color: #D9534F;
	color: #fff;
}
*/
.total-cart {
	margin-top: 40px;
	width: 400px;
	height: max-content;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 8px 3px lightgrey, 0 6px 20px 0 #EEEEEE;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	flex-wrap: nowrap;
}


.total-cart > .title{
	font-size: 20px;
	color: #222;
	font-weight: 700;
}

.total-cart > .list{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 600;
}
.total-cart > .list:nth-child(3){
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #cecece;
}
.total-cart > .list:nth-child(3) > p:nth-child(2){
	color: #000000;
	font-size: 18px;
	font-weight: 700;
}

.total-cart > .belanja,
.total-cart > .lanjut{
	margin-top: 15px;
}

.total-cart > .lanjut > button{
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #E88D2F;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}

.total-cart > .lanjut > button:hover{
	box-shadow: -2px 2px 3px #d1d1d1;
}


.total-cart > .belanja > button{
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #cecece;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}

.modal{
	display: none;
}


@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1400px) {
  .container-cart{
    width: 75vw;
	}
}
@media screen and (max-width: 434px) {
	.total-cart{
		width: 95%;
	}
}
@media screen and (max-width: 1000px) {
	.total-cart{
		width: 100%;
	}
}
@media screen and (max-width: 1000px) {
  .container-cart{
		flex-direction: column;
		min-height: 50vh;
		gap: 1px;
		margin: 70px auto;
	}
}
@media screen and (max-width: 600px) {
  .container-cart{
    width: 90%;
	}
}
@media screen and (max-width: 430px) {
	.hidden-new{
		display: block;
	}
	.wrapper-cart{
		display: none;
	}
	.container-cart{
		margin: 2% auto;
	}
}
