.swiper{
  width: 100%;
}

/*img {

 object-fit: contain
}
*/

.swiper-slide {
  height: auto;
  margin-top: 3px;
  background-color: #eee;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.next{
  margin-right: 10%
}
.prev{
  margin-left: 10%
}

.swiper-slide img {
  margin-bottom: 10px;
  height: 370px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 10px 4px #cecece, 0 6px 20px 0 #EEEEEE;
}
.darkmode .swiper-slide img {
  box-shadow: 0 3px 8px 3px rgb(30, 30, 30), 0 6px 20px 0 rgb(40, 40, 40);
}
.darkmode .swiper-slide {
  background-color: #393939;
}

@media screen and (max-width: 768px) {
  .next{
    margin-right: 0;
  }
  .prev{
    margin-left: 0;
  }
  .swiper-slide img {
    width: 100%;
  }
}
