/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* Reset css */
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    background-color: #f8f8f8;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #E88D2F;
    font-size: 18px;
}
.link a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #E88D2F;
    font-size: 18px;
}
.darkmode .link a{
    color: #F806CC;
}

ul{
    list-style: none;
}

/* Produk list */
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    max-width: 1000px;
    min-height: 600px;
    gap: 20px;
    margin: 90px auto 30px auto;
}
.header-produk{
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: 1px solid #cecece;
    border-radius: 20px;
    text-align: center;
    padding: 2px;
}
.link{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 2px;
    text-decoration: underline;
}
.header-produk h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #E88D2F;
}
.produk-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    gap: 5px;
}
.produk-box{
    margin: 10px;
    display: flex;
    width: 200px;
    height: 320px;
    background-color: #fff;
    border-radius: 8px;
    /*box-shadow: 4px 4px 6px #cecece;*/
    box-shadow: 0 3px 8px 3px lightgrey, 0 6px 20px 0 #EEEEEE;
}
.produk-box:hover{
    /*box-shadow: 4px 4px 6px #cecece;*/
    box-shadow: 0 4px 10px 4px #cecece, 0 6px 20px 0 #EEEEEE;
}
.produk-box a div{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.produk-box a div img {
    width: 200px;
    height: 200px;
    border-radius: 8px 8px 0 0;
    background-color: #a4a4a4;
}
.produk-box .ket{
    width: 100%;
    height: max-content;
    padding: 15px;
}
.produk-box .ket h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    height: 44px;
    overflow-y: hidden;
    color: #444;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.produk-box .ket h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #000000;
    margin-bottom: 8px;
}
.produk-box .ket div {
    display: flex;
    width: 100%;
    gap: 3px;
}
@media only screen and (max-width: 430px){
    .produk-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 1px;
    }
    .produk-box{
        width: 47vw;
        height: 280px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: -1px 1px 5px #cecece;
    }
    .produk-box a div img {
        width: 100%;
        height: 62%;
    }
    .produk-box .ket h2{
        font-size: 15px;
        height: 40px;
    }
    .produk-box .ket h3 {
        font-size: 17px;
    }
}
@media only screen and (max-width: 375px){
    .produk-box{
        width: 46vw;
        height: 280px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: -1px 1px 5px #cecece;
    }
}
