#myBtn {
  border: none;
  outline: none;
  background-color: #07355D;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
#myBtn i{

  color: white;

}
/*#myBtn:hover {
  background-color: white;
  color: #0181ff;
}*/
