</div>

<footer>
      <div class="footer-section">
          <h3>Ikuti kami :</h3>

                <a href="" target="_blank" title="">
                  <div><i class=""></i></div>
                </a>

      </div>
      <div class="footer-row">

          <div class="footer-col">
              <h4>Bantuan</h4>
              <ul>

                <li><a href="<?= base_url(); ?><?= $f['slug']; ?>"></a></li>

              </ul>
          </div>
          <div class="footer-col">
              <h4>Pembayaran</h4>
              <ul>
                <li>
                  <p class="mb-0"></p>
                </li>
              </ul>
          </div>
          <div class="footer-col" >
              <h4>
                  Copyright &copy; <script>document.write(new Date().getFullYear());</script> Santoryu
              </h4>
          </div>

      </div>
  </footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="/assets/js/nav.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
<script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>

<!-- Optional JavaScript -->
<script src="/assets/js/script.js"></script>
<script src="/assets/js/util.js"></script>

</body>

</html>
