<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/landing.css">
    <link rel="stylesheet" href="/assets/css/dark_mode.css">
    <link rel="stylesheet" href="/assets/css/cart.css">

    <script src="/assets/js/dark_mode.js"></script>

    <title>Santoryu - Baca Manga/Manhwa Indonesia</title>
</head>

<body class="">
  <header>
  <nav>
      <ul class="nav-container">
          <li class="logo">
              <a href="/"><img src="" alt="logo" width="100"></a>

          </li>
          <li class="nav-formsearch">
              <div class="form" >
                  <input id="search-input" type="text" name="q" placeholder="Cari Hent..">
                  <button onClick="getSearch('id')" type="submit" name="search"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
          </li>

          <li>
              <div id=theme>
                  <div onclick=setDarkMode(true) id=darkBtn>
                      <i class="fa-solid fa-moon"></i>
                  </div>
                  <div onclick=setDarkMode(false) id=lightBtn class=is-hidden>
                      <i class="fa-solid fa-sun"></i>
                  </div>
              </div>
          </li>
      </ul>
  </nav>

</header>

<div class="container" id="mangas">
