
<!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% body.new_update.forEach(a=> { %>
        <div class="swiper-slide">
          <a class="see-detail" href="#" data-toggle="modal"
              data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
              data-target="#exampleModal">
              <div>
                <img src="<%= a.thumb %>" >
                <h2 class="title" ><%= a.name %></h2>
              </div>
            </a>
        </div>
        <% }) %>
      </div>
      <br>
      <div class="next swiper-button-next"></div>
      <div class="prev swiper-button-prev"></div>
      <br>
      <div class="swiper-pagination"></div>
    </div>
