

<!-- Swiper -->
<div class="swiper mySwiper">
  
  <div class="swiper-wrapper">
    <% body.new_update.forEach(a=> { %>
    <div class="swiper-slide">
      <img class="thumb-cover" src="<%= a.thumb %>?w=236,h=345" alt="">
        <img class="thumb" src="<%= a.thumb %>?w=236,h=345" alt="">
      <h5 class="thumb-title" ><%= a.name %></h5>
    </div>
    <% }) %>
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  
</script>