
    <!-- Swiper -->

        <section class="ag-slide-block">
          <div class="swiper-container">
            <ul class="swiper-wrapper ag-slide_list">
              <% body.new_update.forEach(a=> { %>
              <li class="swiper-slide ag-slide_item" data-swiper-autoplay="1500" data-swiper-slide-index="0">
                <!--data-swiper-autoplay это скорость autoplay для слайдов-->
                <img src="<%= a.thumb %>?w=236,h=345" class="ag-slide_img" alt="">

              </li>
              <% }) %>
            </ul>
          </div>
        </section>
